body {
    font-family: Arial, sans-serif;
}
#dropdowns {
    margin-bottom: 20px;
}
#dropdowns select {
    margin-right: 10px;
}
.green-table th {
    background-color: #008000;
    color: #FFFFFF;
}

.green-table td {
    background-color: #1b9b50;
    color: #800b00;
}

/* CSS styles for the candlestick chart */
#candlestickChart {
    background-color: #f5f5f5;
    padding: 20px;
  }
  
  .chart-title {
    font-size: 18px;
    font-weight: bold;
  }
  
  .chart-label {
    font-size: 14px;
    font-weight: bold;
  }
  
  .candle {
    stroke: black;
  }
  
  .line {
    stroke: gray;
  }
  