<html>
    <head>
        <title>STOCKANALYZER</title>
        <style>
            body {
                background-color: black;
                color: white;
            }
    
            #pageTitle {
                text-align: center;
                border: 2px solid black;
                padding: 10px;
                background: linear-gradient(to right, green, red);
                color: white;
            }
    
            .dropdown-header {
                background-color: green;
                color: white;
            }
        </style>
    </head>
    <body>
        <h1 id="pageTitle">STOCKANALYZER</h1>
        <div id="dropdowns">
          <h2>Select Ticker</h2>
            <select id="tickerDropdown">
            </select>
    </div>
    <div id="stockInfo"></div>
    <div id="tableContainer"></div>
    <div id="topPerformingStocks"></div>
    <div id="candlestickChart"></div>
    <div id="volumeChart"></div>
    <div id="closingPriceChart"></div>
    <div id="chart-container"></div> <!-- Add a container for the bar graph -->

    <div id="chart-container"></div> <!-- Add a container for the bar graph -->

<script src="{{ url_for('static', filename='js/d3.js') }}"></script>
<script src="https://www.gstatic.com/charts/loader.js"></script>
<script src="{{ url_for('static', filename='js/dashboard.js')}}"></script>
<script src="{{ url_for('static', filename='js/candlestick.js')}}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="{{ url_for('static', filename='js/bargraph.js')}}"></script> 
<script src="{{ url_for('static', filename='js/linegraph.js')}}"></script>

</body>
</html>





